<mat-accordion *ngFor="let articulo of articulos" >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="articulo.title != null" >
            {{ articulo.title }}
        </mat-panel-title>
        <mat-panel-title *ngIf="articulo.story_title != null" >
            {{ articulo.story_title }}
        </mat-panel-title>

        <mat-panel-description>
            {{ articulo.author }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="{{articulo.story_url}}" target="_blank">{{ articulo.story_url }} </a>
    </mat-expansion-panel>
</mat-accordion>


  <!--
<mat-card *ngFor="let articulo of articulos" >
    <mat-card-subtitle>
        {{ articulo.author }}
    </mat-card-subtitle>
    <mat-card-content>
        {{ articulo.created_at }}
    </mat-card-content>
</mat-card>
-->